.app{
  font-size:80px;
  font-weight: bold;
}

.description {
  font-size: 25px;
  font-weight: normal;
}

.bar {
  display: flex;
  flex-direction: row;
}

.create {
  margin-bottom: -20px;
}

.search-input {
  margin-bottom: 10px;
}

.caption{
  background: #FFEBEA;
  margin: 2%;
}

.search-input {
  width: 980px;
  margin-left:50px;
  padding:10px;
}

.thumbnail {
  background: #FFF7EA;
  margin: 2%;
}

.add{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: black;
}

.project {
  font-family: 'Raleway', sans-serif;
}

.project p {
  font-size: 16px;
}

.btn-default {
  color: #BFB7B0;
  margin-bottom: 5%;
}

.container {
  display: flex;
  flex-direction: row | column;
  flex-wrap: nowrap;
  align-items: center;
}

#picture {
  max-height: 320px;
  padding: 2% 3% 2% 3%;
}

.glyphicon {
  font-size: 1.5em;
  color: black;
}

.detail {
  color: black;
}

.view {
  flex: 1;
}
