body {
  padding: 0;
  font-family: 'Raleway', sans-serif;
  /*background: url("../src/assets/background.png");*/
  background-color: white;
  background-size: cover;
  size: 100%;
  min-height: 100%;
}
